html,body{
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
}

.cover{
  width: 300px;
  height: 300px;
  overflow: hidden; /*alle inhoud, die niet past verbergen*/
  margin-bottom: 2em;
}
.cover img{
  display: block;
}

.cover article{
    background: rgba(1,5,1,0.8);
    width: 300px;
    height: 300px;
    padding:1em;
    box-sizing: border-box;
    color: white;
    transition: transform 0.9s linear;
}
.cover:hover article{
  transform: translateY(-300px);

}



/* 2 koloms layout */
@media screen and (min-width: 630px) {
  body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  h1{
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 930px) {
  body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }

}

@media screen and (min-width: 1230px) {
  body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
  }

}
